<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<main class="content-container">
    <div class="medicos-container">
        <h2 class="form-title">Listado de médicos</h2>
        <table class="data-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Costo</th>
                <th>Ubicación</th>
                <th>Presentación</th>
                <th>Frecuencia</th>
                <th>Estado</th>
                <th>Autorizar</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterar la lista de médicos -->
            <tr th:each="medico : ${medicos}">
                <td th:text="${medico.id}"></td>
                <td th:text="${medico.nombre}"></td>
                <td th:text="${medico.especialidad}"></td>
                <td th:text="${medico.costoConsulta}"></td>
                <td th:text="${medico.ubicacion}"></td>
                <td th:text="${medico.presentacion}"></td>
                <td th:text="${medico.frecuenciaCitas}"></td>
                <td th:text="${medico.autorizado} ? 'Autorizado' : 'No autorizado'"></td>
                <td>
                    <form action="/admin/autorizar" method="post">
                        <input type="hidden" name="medicoId" th:value="${medico.id}">
                        <button class="btn btn-approve" type="submit" th:disabled="${medico.autorizado}">Autorizar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>