<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Detalles del Médico</title>
</head>
<body>
<header th:replace="fragments :: header"></header>

<main class="content-container">
    <div th:object="${medico}" class="Doctor-card">
        <div class="photo-container">
            <img th:src="@{'/foto/' + ${medico.id}}" class="Doctor-photo" />
        </div>

        <div class="Doctor-info">
            <h3 class="Doctor-name">
                <span th:text="'Nombre: ' + ${medico.nombre}"></span>
            </h3>
            <h3>
                <span class="Doctor-cost" th:text="'Costo de consulta: ' + ${medico.costoConsulta}"></span>
            </h3>
            <p class="Doctor-specialty"><strong th:text="'Especialidad: ' + ${medico.especialidad}"></strong></p>
            <p class="Doctor-location" th:text="'Ubicación: ' + ${medico.ubicacion}"></p>

            <div class="schedule-times">
                <h5>Horario:</h5>
                <div th:each="horario : ${medico.horarios}" class="day-schedule">
                    <span class="day-name" th:text="${horario.dia}"></span>
                    <div class="time-slots">
                        <span th:text="${horario.horaInicio}"></span>
                    </div>
                </div>
            </div>

            <div class="schedule-form">
                <form action="/citas/confirmarCita" method="post">
                    <input type="hidden" name="idHorario" th:value="${horario.id}" />
                    <input type="hidden" name="idMedico" th:value="${medico.id}" />
                    <button class="schedule-btn">Confirmar cita</button>
                </form>

                <form action="/citas/cancelar" method="get">
                    <button class="btn btn-deny">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>
