<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<main class="content-container">
    <div class="card-container">
        <h2 class="form-title">Registro de Cliente</h2>

        <form th:action="@{/registrarPaciente}" method="post">
            <!-- Bloque para el objeto Paciente -->
            <div th:object="${paciente}">
                <div class="user-icon-container">
                    <img src="/images/usuario.png" alt="Paciente Icon" class="user-icon"/>
                </div>

                <div class="form-group">
                    <label>ID del Cliente</label>
                    <input type="number" th:field="*{id}" placeholder="ID del Cliente" required>
                </div>

                <div class="form-group">
                    <label>Nombre del Cliente</label>
                    <input type="text" th:field="*{nombre}" placeholder="Nombre del Cliente" required>
                </div>
            </div>

            <!-- Bloque para el objeto Usuario -->
            <div th:object="${usuario}">
                <div class="form-group">
                    <label>Nombre de Usuario</label>
                    <input type="text" th:field="*{nombreUsuario}" placeholder="Nombre de Usuario" required>
                </div>

                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" th:field="*{contrasena}" placeholder="Contraseña" required>
                </div>

                <div class="form-group">
                    <label>Confirmar Contraseña</label>
                    <input type="password" name="confirmContrasena" placeholder="Confirmar Contraseña" required>
                </div>
            </div>

            <button type="submit" class="btn full-width">Registrar</button>
        </form>

        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</main>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>