<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<main class="content-container">
    <div class="card-container">
        <h2 class="form-title">Acerca de</h2>

        <div class="info-group">
            <h4 class="section-title">Estudiantes</h4>

            <div class="form-group">
                <h5>Nombre: Alexander Javier Vega Méndez</h5>
                <p>Cédula: 402620735</p>
            </div>
            <div class="divider"></div>

            <div class="form-group">
                <h5>Nombre: Cristhian Morales Abendaño</h5>
                <p>Cédula: 118930140</p>
            </div>
            <div class="divider"></div>

            <div class="form-group">
                <h5>Nombre: Jurgen Herrera Alfaro</h5>
                <p>Cédula: 118920304</p>
            </div>
            <div class="divider"></div>

            <div class="form-group">
                <h5>Nombre: Jónatan Arauz Jarquín</h5>
                <p>Cédula: A00149782</p>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>
